@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  height: 12vh;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #b4aeae;
}
header nav {
  display: flex;
  width: 30vw;
  justify-content: space-between;
}
header nav a {
  color: #4b5563;
  text-decoration: none;
  padding: 10px;
}

.ButtonVerde {
  background-color: #21c05c;
  padding: 10px;
  border-radius: 6px;
  color: #ffffff;
}

.CaixaLogo {
  display: flex;
  width: 18vw;
  justify-content: space-between;
}
.CaixaLogo h1 {
  color: #1f2937;
  font-size: 2.3rem;
}

.apresentaçao {
  display: flex;
  justify-content: space-around;
}
.apresentaçao section {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.apresentaçao section h2 {
  font-size: 3.75rem;
  width: 40vw;
}
.apresentaçao section p {
  font-size: 1.25rem;
  width: 38vw;
}
.apresentaçao .BoxButtonsApresentacao {
  display: flex;
  justify-content: space-between;
  width: 34vw;
  height: 15vh;
  align-items: center;
}
.apresentaçao .BoxButtonsApresentacao .ButtonDoar {
  color: #ffffff;
  background-color: #16a34a;
  border-radius: 5px;
  border: none;
  width: 13vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.9rem;
}
.apresentaçao .BoxButtonsApresentacao .ButtonDoar img {
  width: 1.2vw;
}
.apresentaçao .BoxButtonsApresentacao .ButtonAdquirir {
  font-size: 0.9rem;
  color: #2563eb;
  border-radius: 5px;
  width: 13vw;
  height: 8vh;
  border: 1px solid #2563eb;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.apresentaçao .BoxButtonsApresentacao .ButtonAdquirir img {
  width: 1.2vw;
}
.apresentaçao .BoxButtonsApresentacao button {
  cursor: pointer;
  padding: 25px 30px;
}

.Dados {
  height: 20vh;
  background-color: #f3f5f8;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Dados div {
  height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.Dados h3 {
  color: #16a34a;
  font-size: 1.8rem;
}
.Dados p {
  color: #4b5563;
}

.ComoFunciona {
  display: flex;
  width: 100%;
  height: 70vh;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 5%;
  padding-top: 5%;
}
.ComoFunciona h3 {
  font-size: 3rem;
  color: #1f2937;
}
.ComoFunciona .Facilidade {
  font-size: 1.2rem;
  color: #1f2937;
}

.BoxPassoAPasso {
  width: 100%;
  height: 35vh;
  display: flex;
  justify-content: space-evenly;
}
.BoxPassoAPasso .Informacoes {
  background-color: #f3f5f8;
  width: 30vw;
  height: 34vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.BoxPassoAPasso .Informacoes p {
  color: #4b5563;
  font-size: 0.95rem;
}
.BoxPassoAPasso .Informacoes ul {
  color: #09090b;
  font-weight: 600;
}
.BoxPassoAPasso .ParaDoadores {
  color: #16a34a;
  font-size: 1.5rem;
}
.BoxPassoAPasso .ParaAdquirentes {
  color: #2563eb;
  font-size: 1.5rem;
}

.ProdutosDisponiveis {
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.ProdutosDisponiveis article {
  background-color: #f3f5f8;
  border: solid #16a34a;
  width: 20%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 3%;
}
.ProdutosDisponiveis p {
  text-align: center;
  width: 90%;
}
.ProdutosDisponiveis img {
  width: 100%;
}
.ProdutosDisponiveis button {
  margin-bottom: 2rem;
  padding: 0.55rem;
  background-color: #16a34a;
  border: none;
  border-radius: 3px;
}

@media (max-width: 900px) {
  header {
    height: 20vh;
    flex-direction: column;
  }
  nav {
    border: solid red;
    width: 70vw;
  }
  nav a {
    font-size: 1rem;
  }
  .CaixaLogo {
    width: 50%;
  }
  .CaixaLogo h1 {
    font-size: 2rem;
  }
  .CaixaLogo img {
    width: 50vw;
  }
  .apresentaçao {
    flex-direction: column;
    height: 120vh;
    align-items: center;
  }
  .apresentaçao section {
    display: flex;
    height: 40vh;
    justify-content: space-evenly;
  }
  .apresentaçao section h2 {
    font-size: 2rem;
    width: 100%;
    border: solid;
  }
  .apresentaçao section p {
    width: 100%;
  }
  .apresentaçao .BoxButtonsApresentacao {
    width: 100%;
    justify-content: space-evenly;
  }
  .apresentaçao .BoxButtonsApresentacao button {
    padding: 10px 20px;
  }
}
@media screen and (max-width: 768px) {
  .ProdutosDisponiveis {
    flex-direction: column;
  }
  .ProdutosDisponiveis article {
    width: 50%;
  }
}/*# sourceMappingURL=style.css.map */