* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  height: 12vh;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #b4aeae;

  nav {
    display: flex;
    width: 30vw;
    justify-content: space-between;

    a {
      color: #4b5563;
      text-decoration: none;
      padding: 10px;
    }
  }
}

.ButtonVerde {
  background-color: #21c05c;
  padding: 10px;
  border-radius: 6px;
  color: #ffffff;
}

.CaixaLogo {
  display: flex;
  width: 18vw;
  justify-content: space-between;

  h1 {
    color: #1f2937;
    font-size: 2.3rem;
  }
}

.apresentaçao {
  display: flex;
  justify-content: space-around;

  section {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h2 {
      font-size: 3.75rem;
      width: 40vw;
    }

    p {
      font-size: 1.25rem;
      width: 38vw;
    }
  }

  .BoxButtonsApresentacao {
    display: flex;
    justify-content: space-between;
    width: 34vw;
    height: 15vh;
    align-items: center;

    .ButtonDoar {
      color: #ffffff;
      background-color: #16a34a;
      border-radius: 5px;

      border: none;
      width: 13vw;
      height: 8vh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-size: 0.9rem;
      img {
        width: 1.2vw;
      }
    }

    .ButtonAdquirir {
      font-size: 0.9rem;
      color: #2563eb;
      border-radius: 5px;
      width: 13vw;
      height: 8vh;
      border: 1px solid #2563eb;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      img {
        width: 1.2vw;
      }
    }

    button {
      cursor: pointer; // Fica com a mãozinha do click
      padding: 25px 30px;
    }
  }
}

.Dados {
  height: 20vh;
  background-color: #f3f5f8;
  display: flex;
  justify-content: space-around;
  align-items: center;

  div {
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  h3 {
    color: #16a34a;
    font-size: 1.8rem;
  }
  p {
    color: #4b5563;
  }
}

.ComoFunciona {
  display: flex;
  width: 100%;
  height: 70vh;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 5%;
  padding-top: 5%;

  h3 {
    font-size: 3rem;
    color: #1f2937;
  }

  .Facilidade {
    font-size: 1.2rem;
    color: #1f2937;
  }
}
.BoxPassoAPasso {
  width: 100%;
  height: 35vh;
  display: flex;
  justify-content: space-evenly;

  .Informacoes {
    background-color: #f3f5f8;
    width: 30vw;
    height: 34vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    p {
      color: #4b5563;
      font-size: 0.95rem;
    }

    ul {
      color: #09090b;
      font-weight: 600;
    }
  }
  .ParaDoadores {
    color: #16a34a;
    //  font-family: "Noto Sans", sans-serif;
    font-size: 1.5rem;
  }

  .ParaAdquirentes {
    color: #2563eb;
    font-size: 1.5rem;
    //font-family: "Noto Sans", sans-serif;
  }
}

.ProdutosDisponiveis {
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  h3 {
  }
  .Categorias {
  }

  article {
    background-color: #f3f5f8;
    border: solid #16a34a;
    width: 20%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 3%;
  }
  p {
    text-align: center;
    width: 90%;
  }

  img {
    width: 100%;
  }

  button {
    margin-bottom: 2rem;
    padding: 0.55rem;
    background-color: #16a34a;
    border: none;
    border-radius: 3px;
  }
}
@media (max-width: 900px) {
  header {
    height: 20vh;
    flex-direction: column;
  }

  nav {
    border: solid red;
    width: 70vw;
    a {
      font-size: 1rem;
    }
  }

  .CaixaLogo {
    width: 50%;

    h1 {
      font-size: 2rem;
    }
    img {
      width: 50vw;
    }
  }

  .apresentaçao {
    flex-direction: column;
    height: 120vh;
    align-items: center;

    section {
      display: flex;
      height: 40vh;
      justify-content: space-evenly;

      h2 {
        font-size: 2rem;
        width: 100%;
        border: solid;
      }

      p {
        width: 100%;
      }
    }

    .BoxButtonsApresentacao {
      width: 100%;
      justify-content: space-evenly;

      button {
        padding: 10px 20px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .ProdutosDisponiveis {
    flex-direction: column;
    article {
      width: 50%;
    }
  }
}
