* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  height: 10vh;
  justify-content: space-around;
  align-items: center;

  nav {
    display: flex;
    width: 30vw;
    justify-content: space-between;

    a {
      color: #4b5563;
      text-decoration: none;
      padding: 10px;
    }
  }
}

.ButtonVerde {
  background-color: #21c05c;
  padding: 10px;
  border-radius: 6px;
  color: #ffffff;
}

.CaixaLogo {
  display: flex;
  width: 18vw;
  justify-content: space-between;

  h1 {
    color: #1f2937;
    font-size: 2.3rem;
  }
}

.apresentaçao {
  border: solid;
  display: flex;
  justify-content: space-around;

  section {
    border: solid yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h2 {
      font-size: 3.75rem;
      width: 40vw;
    }

    p {
      border: solid red;
      font-size: 1.25rem;
      width: 38vw;
    }
  }
  .BoxButtonsApresentacao {
    width: 30vw;
    border: solid blue;
    display: flex;
    justify-content: space-between;

    button {
      cursor: pointer; // Fica com a mãozinha do click
      padding: 25px 30px;
    }
  }
}

.ProdutosDisponiveis {
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  article {
    background-color: #f3f5f8;
    border: solid #16a34a;
    width: 20%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // border-radius: 10%;
  }
  p {
    text-align: center;
    width: 90%;
  }

  img {
    width: 100%;
  }

  button {
    margin-bottom: 2rem;
    padding: 0.55rem;
    background-color: #16a34a;
    // border-radius: 15%;
  }
}

@media (max-width: 900px) {
  header {
    height: 20vh;
    flex-direction: column;
  }

  nav {
    border: solid red;
    width: 70vw;
    a {
      font-size: 1rem;
    }
  }

  .CaixaLogo {
    width: 50%;

    h1 {
      font-size: 2rem;
    }
    img {
      width: 50vw;
    }
  }

  .apresentaçao {
    flex-direction: column;
    height: 120vh;
    align-items: center;

    section {
      display: flex;
      height: 40vh;
      justify-content: space-evenly;

      h2 {
        font-size: 2rem;
        width: 100%;
        border: solid;
      }

      p {
        width: 100%;
      }
    }

    .BoxButtonsApresentacao {
      width: 100%;
      justify-content: space-evenly;

      button {
        padding: 10px 20px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .ProdutosDisponiveis {
    flex-direction: column;
    article {
      width: 50%;
    }
  }
}
